{{#if message}}
    <h1
        {{#if message.success}}
            class="success"
        {{else}}
            class="error"
        {{/if}}
    >{{message.text}}</h1>
{{/if}}

{{#if errors}}
    <h6 class="error">
        {{#each errors}}
            <ul>
                <li>{{this.msg}}</li>
            </ul>
        {{/each}}
    </h6>
{{/if}}

<form action="/post/add" method="post" class="row">

    <div class="form-group col-md-12">
        <label for="title">عنوان</label>
        <input type="text" class="form-control" id="title" name="title" placeholder="" required="">
    </div>

    <div class="form-group col-md-6">
        <label for="categoryId">دسته بندی</label>
        <select id="categoryId"  name="categoryId" class="form-control">
            {{#each categories}}
                <option value="{{this.id}}">{{this.title}}</option>
            {{/each}}
        </select>


    </div>
    <div class="form-group col-md-6">
        <label for="order">الویت</label>
        <input type="text" class="form-control" id="order" name="order" placeholder="">
    </div>

    <div class="form-group col-md-12">
        <textarea class="form-control" id="text" name="text" rows="5"></textarea>
    </div>


    <button type="submit" class="btn btn-primary">افزودن</button>
</form>



<script>

    ClassicEditor.create(document.querySelector('#text'))
            .catch(error => {
                console.log(error);
            });
</script>
