{{#if message}}
    <h1
        {{#if message.success}}
        class="success"
        {{else}}
        class="error"
        {{/if}}
    >{{message.text}}</h1>
{{/if}}

<form action="/post/edit" method="post" class="row">

    <div class="form-group col-md-12">
        <label for="title">عنوان</label>
        <input type="text" class="form-control" id="title" name="title" value="{{post.title}}" placeholder="">
    </div>

    <div class="form-group col-md-6">
        <label for="categoryId">دسته بندی</label>
        <select id="categoryId" name="categoryId" class="form-control">
            {{#each categories}}
                <option value="{{this.id}}"
                    {{isSelected this.id}}
                >{{this.title}}</option>
            {{/each}}
        </select>


    </div>
    <div class="form-group col-md-6">
        <label for="order">الویت</label>
        <input type="text" class="form-control" id="order" value="{{post.order}}" name="order" placeholder="">
    </div>

    <div class="form-group col-md-12">
        <textarea class="form-control" id="text" name="text" rows="5">{{{ post.text }}}</textarea>
    </div>

    <input type="hidden"  id="authorId" name="authorId" value="{{post.authorId}}">
    <input type="hidden"  id="id" name="id" value="{{post.id}}">


    <button type="submit" class="btn btn-primary">ویرایش</button>
</form>



<script>

    ClassicEditor.create(document.querySelector('#text'))
            .catch(error => {
                console.log(error);
            });
</script>