<!doctype HTML>
<html>
<head>
    <title>{{title}}</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">


    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>


    <script src="/scripts/ckeditor/ckeditor.js"></script>
    <style>
        @font-face {
            font-family: IRANSans;
            font-style: normal;
            font-weight: 100;
            src: url('/fonts/iransans.ttf') format('truetype');;
        }

        .bd-example {
            padding: 1.5rem;
            background: rgba(250, 250, 250, 1);
        }

        body {
            direction: rtl;
            text-align: right;
            font-family: IRANSans;
            background: rgba(250, 250, 250, 1);
        }

        nav {
            background: rgb(7, 124, 188);
        }

        .success, .error {
            font-size: 24px;
            text-align: center;
            padding: 10px;
        }

        .error {
            color: rgb(254, 73, 92);
        }

        .success {
            color: green;

        }

        nav li.nav-item > a {
            color: rgba(250, 250, 250, 1) !important;
        }

        nav ul.navbar-nav li.nav-item.dropdown div.dropdown-menu {
            top: 110% !important;
            border-radius: 0 !important;
            background: rgb(7, 124, 188) !important;
            min-width: 6rem;
        }

        nav ul.navbar-nav li.nav-item.dropdown div.dropdown-menu a {
            color: rgba(250, 250, 250, 1) !important;
        }

        nav ul.navbar-nav li.nav-item.dropdown div.dropdown-menu a:hover {
            background: rgba(85, 85, 85, 0.3) !important;
        }

        nav .dropdown-toggle::after {
            position: relative !important;
            left: -7px !important;
            vertical-align: 0 !important;
        }
    </style>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark  shadow">

    <a class="navbar-brand" href="Open Source"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="../../../../../../../../../../dashboard">داشبورد <span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink1" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    مطالب
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink1">
                    <a class="dropdown-item" href="/Post/Add">افزودن</a>
                    <a class="dropdown-item" href="/Post/List">لیست</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink2" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    دسته بندی ها
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink2">
                    <a class="dropdown-item" href="/Category/Add">افزودن</a>
                    <a class="dropdown-item" href="/Category/List">لیست</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink3" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    نویسنده ها
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink3">
                    <a class="dropdown-item" href="/Author/Add">افزودن</a>
                    <a class="dropdown-item" href="/Author/List">لیست</a>
                </div>
            </li>
            <!--<li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink3" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    حساب کاربری
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink3">
                    {{#if author}}
                        <a class="dropdown-item"  href="/logout">خروج</a>
                    {{else}}
                        <a class="dropdown-item"  href="/login">ورود</a>
                    {{/if}}
                </div>
            </li>-->
        </ul>
    </div>
</nav>

<br>
<div class="container">

    <div class="bd-example shadow">
        {{{body}}}
    </div>
</div> <!-- /container -->


<script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>

<script>
    $('ul.navbar-nav li.dropdown').hover(function () {
        $(this).find('.dropdown-menu').stop(true, true).delay(100).slideDown(100);
    }, function () {
        $(this).find('.dropdown-menu').stop(true, true).delay(150).slideUp(100);
    });
</script>

</body>
</html>
