<div class="row" style="text-align: center;">
    <div class="col-md-4 card text-white bg-success mb-3" style="max-width: 18rem;margin: 35px;">
        <div class="card-header">مطالب</div>
        <div class="card-body">
            <a href="../../../../../../Post/Add" type="button" class="btn btn-light btn-lg" style="width: 100%;margin: 5px;">افزودن</a>
            <br>
            <a href="../../../../../../Post/List"  type="button" class="btn btn-light btn-lg" style="width: 100%;margin: 5px;">لیست</a>
        </div>
    </div>
    <div class="col-md-4 card text-white bg-danger mb-3" style="max-width: 18rem;margin: 35px;">
        <div class="card-header">دسته بندی ها</div>
        <div class="card-body">
            <a href="../../../../../../Category/Add" type="button" class="btn btn-light btn-lg" style="width: 100%;margin: 5px;">افزودن</a>
            <br>
            <a href="../../../../../../Category/List"  type="button" class="btn btn-light btn-lg" style="width: 100%;margin: 5px;">لیست</a>
        </div>
    </div>

    <div class="col-md-4  card text-white bg-info mb-3" style="max-width: 18rem;margin: 35px;">
        <div class="card-header">نویسنده ها</div>
        <div class="card-body">
            <a href="../../../../../../Author/Add" type="button" class="btn btn-light btn-lg" style="width: 100%;margin: 5px;">افزودن</a>
            <br>
            <a href="../../../../../../Author/List"  type="button" class="btn btn-light btn-lg" style="width: 100%;margin: 5px;">لیست</a>
        </div>
    </div>
</div>