<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {{#if found}}
            {{#if post}}
                {{post.title}}
            {{else}}
                {{title}}
            {{/if}}
        {{else}}
            صفحه مورد نظر یافت نشد !
        {{/if}}

    </title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
          integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <style>
        pre {
            text-align: left;
            direction: ltr;
        }

        /* level 1*/
        #sidebar .list-group .collapse .list-group-item {
            padding-left: 20px;
        }

        /* level 2*/
        #sidebar .list-group .collapse > .collapse .list-group-item {
            padding-left: 30px;
        }

        /* level 3*/
        #sidebar .list-group .collapse > .collapse > .collapse .list-group-item {
            padding-left: 40px;
        }
    </style>
    <link rel="stylesheet" href="styles/main.css">
</head>
<body>
<main>


    <nav class="navbar navbar-expand-lg navbar-dark bg-custom-blue shadow">
        <div class="container">
            <h4>
                <a href="../../../../../../../../">
                    Open Source
                </a>
            </h4>
        </div>
    </nav>

    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-xs-1" id="sidebar" style="margin-bottom: 20px;">
                <div class="list-group shadow">

                    {{#categories as | category|}}
                        <a href="#menu{{id}}" class="list-group-item" data-toggle="collapse" data-parent="#sidebar">
                            <span class="hidden-sm-down" style="">{{title}}</span>
                            <i class="fa fa-angle-down custom-left-icon"></i>
                            <span class="custom-line"></span>
                        </a>
                        <div class="collapse" id="menu{{id}}">
                            {{#posts as |post|}}
                                <a href="/{{id}}" class="list-group-item"
                                   data-parent="#menu{{category.id}}">{{title}}</a>
                            {{/posts}}

                        </div>
                    {{/categories}}

                </div>
            </div>
            <div class="col-md-9 bg-custom-light shadow" style="margin-bottom: 20px;">
                <section class="article">
                    {{#if found}}
                        {{#if post}}
                            <h3>{{post.title}}</h3>
                            <article class="text-justify">
                                <p>
                                    {{{ post.text }}}
                                </p>
                            </article>

                            <p>{{fixdate post.date}}</p>
                        {{else}}
                            <h3>به سایت ما خوش آمدید</h3>
                            <article class="text-justify">
                                <p>
                                    ما خواهان به اشتراک گذاشتن تجربیات خود با شما هستیم.
                                </p>
                            </article>
                        {{/if}}

                    {{else}}

                        <p style="margin: 50px auto;font-size: 25px;text-align: center;">
                            صفحه مورد نظر یافت نشد !
                            <br>
                            <a href="../../../../../../../../../../../">بازگشت به صفحه اصلی</a>
                        </p>
                    {{/if}}

                </section>
            </div>
        </div>

    </div> <!-- /container -->


</main>

<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>

<script>
    $(".custom-line").eq($(".custom-line").length - 1).hide();
</script>
</body>
</html>
