@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 100;
    src: url('../fonts/iransans.ttf') format('truetype');;
}

body {
    direction: rtl;
    /*background:rgb(214, 239, 255);*/
    background: rgb(253, 255, 252);
    text-align: right;
    font-family: IRANSans;
}

.bd-example {
    box-shadow: 0 0 3px rgba(54, 54, 54, 0.1);
    border-radius: 4px;
    position: relative;
    overflow: hidden;
}

.bg-custom-yellow {
    background: rgb(255, 159, 28);
}

.bg-custom-blue {
    background-color: rgb(7, 124, 188);
}

.bg-custom-blue-light {
    background-color: rgb(46, 196, 182);
}

.bg-custom-blue-dark {
    background-color: rgb(1, 22, 39);
}

.bg-custom-red {
    background-color: rgba(203, 67, 53, 1);
}

.bg-custom-red-light {
    background-color: rgb(255, 73, 92);
}

.bg-custom-light {
    background-color: rgba(250, 250, 250, 1);
}

.article {
    padding: 20px;
}

.article > h3 {
    padding-bottom: 15px;
    color: rgba(24, 24, 24, 1);
}

.article > article {
    color: rgba(54, 54, 54, 1);
}

.list-group {
    width: 100%;
    padding: 0;
}

.list-group * {
    border: none;
    background: rgba(250, 250, 250, 1);
    color: rgba(54, 54, 54, 1);
    border-radius: unset;
    /*background: rgb(45, 71, 88);*/
    /*color: rgb(255, 250, 251);*/
}

.custom-left-icon {
    position: absolute;
    top: calc(50% - 8px);
    color: rgba(85, 85, 85, 0.7);
    /*color: rgba(255, 250, 251,0.4);*/
    left: 25px;
}

.custom-line {
    position: absolute;
    width: 65%;
    height: 1px;
    background: rgba(85, 85, 85, 0.1);
    /*background-color: rgba(214, 239, 255,0.3);*/
    bottom: 1px;
    left: 20%;
}

a.list-group-item:last-child > span:last-child {
    display: none;
}

nav  h4 {
    text-align: center;
    color: rgb(250, 250, 250);
    margin: 5px auto;
    font-family: sans-serif;
}

nav h4 a {
    margin: 10px;
    text-decoration: none;
    color: rgb(250, 250, 250);
}
nav h4 a:hover {
    text-decoration: none;
    color: rgb(250, 250, 250);
}
/*.no-padding{*/
/*padding: 0;*/
/*}*/